{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Bachelor Thesis GUI -->
<!-- about.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} O projektu Alan {% endblock %}

{% block body_block %}
<h2>O projektu Alan</h2>

<p>
Projekt Alan slouží jako pomocný materiál pro studenty FIT VUT.<br>
Jedná se o část překladače programovacího jazyka FUN od profesora
<a target="_blank" href="http://www.fit.vutbr.cz/~meduna/work">Alexandera Meduny</a>
uvedeného v jeho knize <i>Elements of Compiler Design.*</i><br>
Účelem je názorně předvést tématiku zotavování chyb při syntaktické analýze zdola nahoru.<br>
Pojmenování projektu je odkazen na slavného matematika
<a target="_blank" href="https://cs.wikipedia.org/wiki/Alan_Turing">Alana Turinga.</a>
</p>

<h3>Dokumentace</h3>
<p>
Pro projekt Alan byla vytvořena krátká verzi
<a target="_blank" href="{% url 'man' %}">manuálových</a> stránek.<br>
Plná verze a další informaci jsou k nalezení v technické zprávě bakalářské
práce.
</p>

<h3>Archiv</h3>
<p>
Pro potřeby projektu byl také vytvořen <a href="{% url 'download' %}">archiv</a>
ukázkových souborů.<br>
Naleznete v něm řadu příkladů, včetně ukázek lexikálních a syntaktických chyb (lze rozeznat dle koncovek <i>le/se</i> v názvu).<br>
Programy bez koncovky v názvu jsou ukázky bez chyb.
</p>


<h3>Kontakt</h3>
Dominika Regéciová<br>
xregec00@stud.fit.vutbr.cz<br>
Bakalářská práce 2015/2016<br>
FIT VUT

<p>
* MEDUNA, Alexander. Elements of compiler design. Boca Raton: Auerbach
Publications, 2008, xiii, 286 s. ISBN 1420063235.
</p>
{% endblock %}
