{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: ad_hoc_parser.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Ad-Hoc Metoda {% endblock %}

{% block body_block %}
<h2>Ad-Hoc metoda</h2>
<form id="parser_form" method="post">
{% csrf_token %}
<table class="t01" align="center">
<tr><th>Program</th>
<th>Lexikální analýza</th>
<th>Zásobník</th>
<th>Stav</th>
<th>Syntaktická analýza</th>
</tr>
<tr>

<td id="fun_code_area" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if source_code %}
<pre>{{ source_code }}</pre>
{% else %}{ Zde napiste svuj kod }
{% endif %}
</td>

<td id="lex_code_area" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if tokens %}
{% for token in tokens %}
{% if '[chyba' in token %}
    <strong style="color:red">{{ token }}</strong><br>
{% elif '[k' in token %}
    <strong style="color:green">{{ token }}</strong><br>
{% else %}
    {{ token }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude výsledek Lexikální analýzy }
{% endif %}
</td>

<td id="stack_code_area" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if stack %}
{% for s in stack %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude zásobník }
{% endif %}
</td>

<td id="state_code_area" style="padding:10px; font-size:16px;vertical-align: text-top;">
{% if state %}
{% for s in state %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude stav }
{% endif %}
</td>

<td id="parser_code_area" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if parser_result %}
{% for parser in parser_result %}
{% if 'success' in parser %}
    <strong style="color:green">{{ parser }}</strong><br>
{% elif 'chyba' in parser %}
	<strong style="color:red">{{ parser }}</strong><br>
{% elif '= f' in parser %}
    <strong style="color:red">{{ parser }}</strong><br>
{% else %}
{{ parser }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude SA }
{% endif %}
</td>

</tr>
</table>
</form>
    <h3>Vysvětlivka:</h3>
    &emsp;Principem <strong>Ad-Hoc metody</strong> je doplnění prázdných políček z části tabulky action.<br>
    &emsp;Ty zaplníme množinou modifikací (diagnostikami), které mají zajistit zotavení z chyby. Jedná se například o přidání,
    či odebrání tokenu do vstupu, odebrání tokenu ze zásobníku, nebo úpravu vstupního tokenu.<br>
    &emsp;U každého prázdného políčka je nutné si stanovit nepravděpodobnější příčinu chyby a způsob zotavení.<br>
    &emsp;Autor syntaktické analýzy si také musí dávat pozor na hrozbu zacyklení.<br><br>

    &emsp;<strong>Projekt Alan má tyto diagnostiky:</strong><br><br>
    &emsp;<strong>F1:</strong> Odebrání tokenu ze zásobníku<br>
    &emsp;<strong>F2:</strong> Přidání proměnné <strong>i</strong> do vstupního řetězce<br>
    &emsp;<strong>F3:</strong> Odstranění tokenu ze vstupního řetězce<br>
    &emsp;<strong>F4:</strong> Přidání uzavírací <strong>)</strong> do vstupního řetězce<br>
    &emsp;<strong>F5:</strong> Přidání <strong>+</strong> do vstupního řetězce<br>
    &emsp;<strong>F6:</strong> Nedostupný stav<br><br>

    &emsp;Níže je k nahlédnutí upravená tabulka, diagnostiky jsou označeny číslem v kroužku.<br><br>

<table align="center">
<tr>
<td>
{% if table_action %}
<table class="t01">
  <tr>
    <th>Stav</th><th>;</th><th>i</th><th>#</th><th>r</th><th>+</th><th>-</th><th>*</th><th>/</th><th>&</th><th>|</th>
    <th>!</th><th>(</th><th>)</th><th>$</th>
{% for row in table_action %}
<tr>
  <td>{{row.pk}}</td><td>{{row.s}}</td><td>{{row.i}}</td><td>{{row.h}}</td><td>{{row.r}}</td><td>{{row.p}}</td>
  <td>{{row.m}}</td><td>{{row.t}}</td><td>{{row.d}}</td><td>{{row.a}}</td><td>{{row.o}}</td><td>{{row.n}}</td>
  <td>{{row.b}}</td><td>{{row.e}}</td><td>{{row.end}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</td><td>&emsp;</td><td>
{% if table_goto %}
<table class="t01">
  <tr>
    <th>Stav</th><th>&lt;statement_list&gt;</th><th>&lt;statement&gt;</th><th>&lt;condition&gt;</th><th>&lt;expression&gt;</th>
    <th>&lt;term&gt;</th><th>&lt;factor&gt;</th></tr>
{% for row in table_goto %}
<tr>
  <td>{{row.pk}}</td><td>{{row.statement_list}}</td><td>{{row.statement}}</td><td>{{row.condition}}</td><td>{{row.expression}}</td>
  <td>{{row.term}}</td><td>{{row.factor}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</td></tr>
</table>
{% endblock %}
