<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'alan/style.css' %}"/>
    </head>
    <body>
        <div id="wrapper">
        <div id="header">
        <h1>Projekt Alan</h1>
        </div>

        <div id="navigation">
        <ul id="menu">
        <li><a href="{% url 'index' %}">Alan</a></li>
        <li><a href="{% url 'grammar' %}">FUN gramatika</a></li>
        <li><a href="{% url 'lrtable' %}">LR tabulka</a></li>
        <li><a href="{% url 'about' %}">O projektu</a></li>
        </ul>
        </div>

        <div id="section">
            {% block body_block %} {% endblock %}
        </div>
        </div>

        <div id="footer">
        Designed by Dominika Regéciová, Verze: 0.4
        </div>
    </body>
</html>
