{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Bachelor Thesis GUI -->
<!-- changelog.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}
<h2>Stránka změn k Projektu Alan </h2>
Dokumentace doplnění a vylepšení Projektu Alan po obhájení bakalářské práce v srpnu 2016.
<h3> v1.5</h3>
&emsp; * Syntaktická analýza má nové zobrazení načítání vstupních tokenů (časem bude doplněno i u metod zotavení)
{% endblock %}