{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Bachelor Thesis GUI -->
<!-- changelog.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}
<h2>Stránka změn k Projektu Alan </h2>
Dokumentace doplnění a vylepšení Projektu Alan po obhájení bakalářské práce v srpnu 2016.
<h3> v1.5</h3>
&emsp; 5. 9. 2016: <br>
    &emsp;&emsp; * Syntaktická analýza má nové zobrazení načítání vstupních tokenů (časem bude doplněno i u metod zotavení)<br><br>
&emsp; 3. 2. 2017: <br>
    &emsp;&emsp; * Nové zobrazení dat v tabulce <br>
    &emsp;&emsp; * Přidání zobrazení načítání vstupních tokenů do Panického módu s množinou Follow<br>
    &emsp;&emsp; * Upravené zobrazení lexikální analýzy dle nového rozhraní<br><br>
&emsp; 4. 2. 2017: <br>
    &emsp;&emsp; * Přidání zobrazení načítání vstupních tokenů do Panického módu s množinou First<br>
    &emsp;&emsp; * Aktualizace testů<br>
{% endblock %}