{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: comparison.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Porovnání metod zotavování {% endblock %}

{% block body_block %}
<h2>Porovnání metod zotavování</h2>

<table align="center">
<tr>
<td>
<table class="t02">
<tr>
  <th></th><th>Chybný vstup</th><th>Panický mód (Follow)</th><th>Panický mód (First)</th><th>Ad-hoc metoda</th><th>Alanova metoda</th>
</tr><tr>
<td>1</td><td></td><td>ne / 1x / 0.015 ns / 3</td><td>ne / 1x / 0.010 ns / 3</td><td>ano / 1x / 0,383 ns / 1</td><td>ne / 1x / 0,010 ns /3</td>
</tr><tr>
<td>2</td><td>a;</td><td>ano / 1x / 0,262 ns / 1 </td><td>ne / 1x / 0,362 ns / 3</td><td>ano / 1x / 0,200 ns / 1</td><td>ano / 1x / 0,424 ns / 1</td>
</tr><tr>
<td>3</td><td>a;;b</td><td>ano / 1x / 0,261 ns / 2</td><td>ano / 1x / 0.240 ns / 2</td><td>ano / 1x / 0,298 ns / 1</td><td>ano / 1x / 0,520 ns / 1</td>
</tr><tr>
<td>4</td><td>a+</td><td>ano / 1x / 0,263 ns / 2</td><td>ne / 1x / 0,210 ns / 3</td><td>ano / 1x / 0,264 ns / 1</td><td>ano / 1x / 0,235 ns / 1</td>
</tr><tr>
<td>5</td><td>a b</td><td>ne / 1x / 0,107 ns / 3</td><td>ne / 1x / 0,108 ns / 3</td><td>ano / 1x / 0,201 ns / 2</td><td>ano / 1x / 0,368 ns / 2</td>
</tr><tr>
<td>6</td><td>a + + b</td><td>ano / 1x / 0,350 ns / 1</td><td>ano / 1x / 0,297 ns / 2</td><td>ano / 1x / 0,259 ns / 1</td><td>ano / 1x / 0,750 ns / 1</td>
</tr><tr>
<td>7</td><td>a&lt;</td><td>ano / 1x / 0,166 ns / 1</td><td>ne / 1x / 0,142 ns/ 3</td><td>ano / 1x / 0,211 ns / 1</td><td>ano / 1x / 1,117 ns / 1</td>
</tr><tr>
<td>8</td><td>(a</td><td>ne / 1x / 0,278 ns / 3</td><td>ne / 1x / 0,170 ns / 3</td><td>ano / 1x / 0,364 ns / 1</td><td>ano / 1x / 0,374 ns / 1</td>
</tr><tr>
<td>9</td><td>(a))</td><td>ano / 1x / 0,389 ns / 1</td><td>ne / 1x / 0,237 ns / 3</td><td>ano / 1x / 0,481 ns / 1</td><td>ne / 1x / 0,288 ns / 3</td>
</tr><tr>
<td>10</td><td>)a;b</td><td>ne / 1x / 0,176 ns / 3</td><td>ne / 1x / 0,102 ns / 3</td><td>ano / 1x / 0,367 ns / 1</td><td>ne / 1x / 0,087 ns / 3</td>
</tr><tr>
<td>11</td><td>()</td><td>ne / 1x / 0,126 ns / 3</td><td>ne / 1x / 0,165 ns / 3</td><td>ano / 1x / 0,507 ns / 1</td><td>ne / 2x / 0,398 ns / 3</td>
</tr><tr>
<td>12</td><td>(!a)</td><td>ne / 1x / 0,092 ns / 3</td><td>ne / 1x / 0,107 ns/ 3</td><td>ano / 1x / 0,513 ns / 1</td><td>ne / 2x / 0,443 ns / 3</td>
</tr>
<tr>
<td>13</td><td>(a+b)c)</td><td>ne / 1x / 0,177 ns / 3</td><td>ano / 1x / 0,443 ns/ 2</td><td>ano / 2x / 0,604 ns / 2</td><td>ne / 2x / 1,105 ns / 3</td>
</tr>
</table>
</td></tr>
</table>

<h3>Vysvětlivka:</h3>
    &emsp; <strong>Princip porovnávání:</strong><br>
    &emsp; V tabulce nalezneme soubor testovacích chybných vstupů.<br>
    &emsp; Každá metoda je zaznamenaná pomocí sloupce.<br>
    &emsp; Výsledek testu je v následujícím pořadů:<br><br>
    &emsp;&emsp; Zvládla metoda opravit chybu na vstupu? / Kolik cyklů metody bylo zapotřebí? / Celkový čas analýzy [ns] / Celkové hodnocení<br><br>
    &emsp; Nejdříve se ptáme, zda je metoda schopna chybu vůbec opravit.<br>
    &emsp; Poté zkoumáme počet oprav nutných pro další pokračování analýzy, tedy počet volání metody zotavení.<br>
    &emsp; Program zároveň měří čas analýzy, což je však orientační číslo závislé na mnoha faktorech včetně hardwaru.<br>
    &emsp; Důležité je konečné hodnocení, které zkoumá kvalitu opravy.<br>
    &emsp; Hodnocení je inspirované dle * a obsahuje tří stupňové hodnocení:<br>
    &emsp;&emsp; <strong>1</strong> neboli <strong>vynikající</strong> - metoda opraví chybu tak, jak by učinil lidský čtenář.<br>
    &emsp;&emsp; <strong>2</strong> neboli <strong>dobré</strong> - rozumná oprava, která nevede k nekonzistentnímu stavu.<br>
    &emsp;&emsp; <strong>3</strong> neboli <strong>špatné</strong> - nedostatečná oprava, která může vést k vytvoření dalších chyb.<br>

 <p>
* Burke, M. G. a Fisher, G. A.: <i>A practical method for LR and LL syntactic error
diagnosis and recovery</i>. ACM Transactions on Programming Languages and Systems
(TOPLAS).
</p>
{% endblock %}