<!-- Bachelor Thesis GUI -->
<!-- index.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->
{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Alan - home {% endblock %}

{% block body_block %}
<fieldset style="width:100px">
<legend><h1 style="text-align:left; color:#61497A">Kód</h1></legend>
<br>
<textarea name="message" rows="20" cols="42" style="padding:10px">
<Alan>
i := 10;
while (i > 10):
  begin
  i := i - 1; 
  end
write i;
</Alan>
</textarea> 
</fieldset> 

<fieldset style="width:100px">
<legend><h1 style="text-align:left; color:#61497A">Zásobník</h1></legend>
<br>
<textarea name="message" rows="20" cols="10" style="padding:10px">
</textarea>
</fieldset> 
    
    <p>
    {{ response }}
    </p>

{% endblock %}