{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: index.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}

<form id="fun_form" method="post">
{% csrf_token %}

<table class="t01" align="center">
<tr>
    <th>Program</th>
</tr><tr>
    <td style="padding:0px;"><textarea name="fun_code_area" rows="25" cols="50" style="padding:10px; font-size:16px;">
{% if code %}{{ code }}
{% else %}{ Zde napište svůj kód }
{% endif %}
    </textarea></td>
</tr>
</table>

<p style="text-align:center">
    <input type="submit" name="lex" formaction="{% url 'scanner' %}" value="Spustit lexikální analýzu">
</p>
</form>

<form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
    {{ form.docfile }}
    <input type="submit" value="Nahrát soubor" />
    </p>
</form>

<p style="text-align:center">
Pro potřeby projektu byl také vytvořen <a href="{% url 'download' %}">archiv</a> ukázkových souborů.
</p>

{% endblock %}
