<!-- Bachelor Thesis GUI -->
<!-- index.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->
{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Alan - home {% endblock %}

{% block body_block %}
<form>
<table>
<th>Kód</h1></th>
<th>Lexikální analýza</th>
  <tr>
    <td>
    <textarea name="message" rows="20" cols="42" style="padding:10px; font-size:16px;">
    {% if code %} {{ code }}
    {% else %} Zde napiště svůj kód
    {% endif %}
    </textarea> 
    </td>
    <td>
    <textarea name="message" rows="20" cols="42" style="padding:10px; font-size:16px;">
    {% if lex %}{{ lex }}
    {% else %} Zde bude výsledek Lexikální analýzy
    {% endif %}
    </textarea>
    </td>
  </tr>
</table>
<p style="text-align:center">
<input type="submit" value="Spustit analýzu">
</p>
</form>

{% endblock %}