{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Bachelor Thesis GUI -->
<!-- lrtable.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} LR tabulka {% endblock %}

{% block body_block %}
<h2>LR tabulka</h2>

{% if table_action %}
<table class="t01" style="float: left;">
  <tr>
    <th>Stav</th><th>;</th><th>i</th><th>#</th><th>r</th><th>+</th><th>-</th><th>*</th><th>/</th><th>&</th><th>|</th>
    <th>!</th><th>(</th><th>)</th><th>$</th>
{% for row in table_action %}
<tr>
  <td>{{row.pk}}</td><td>{{row.s}}</td><td>{{row.i}}</td><td>{{row.h}}</td><td>{{row.r}}</td><td>{{row.p}}</td>
  <td>{{row.m}}</td><td>{{row.t}}</td><td>{{row.d}}</td><td>{{row.a}}</td><td>{{row.o}}</td><td>{{row.n}}</td>
  <td>{{row.b}}</td><td>{{row.e}}</td><td>{{row.end}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if table_goto %}
<table class="t01" style="display: inline-block;">
  <tr>
    <th>Stav</th><th>&lt;statement_list&gt;</th><th>&lt;statement&gt;</th><th>&lt;condition&gt;</th><th>&lt;expression&gt;</th>
    <th>&lt;term&gt;</th><th>&lt;factor&gt;</th></tr>
{% for row in table_goto %}
<tr>
  <td>{{row.pk}}</td><td>{{row.statement_list}}</td><td>{{row.statement}}</td><td>{{row.condition}}</td><td>{{row.expression}}</td>
  <td>{{row.term}}</td><td>{{row.factor}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}