<!-- Bachelor Thesis GUI -->
<!-- man.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->
{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}
<h2>Manuálové stránky k projektu Alan </h2>
    
<h3>Načtení zdrojového programu</h3>
<p>
Zdrojový kód lze zadat více způsoby. Lze jej načíst z textového souboru (pozn. momentálně lze vkládat soubory pouze bez diakritiky), <br>
také lze soubor zkopírovat a nakonec uživatel může program přímo napsat. <br>
Ve všech případech lze kód přes zpuštěním LA upravit.
</p>

<h3>Kontakt</h3>
Dominika Regéciová<br>
xregec00@stud.fit.vutbr.cz<br>
Bakalářská práce 2015/2016<br>
FIT VUT
</p>
{% endblock %}