{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: panic_mode_parser_first.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Panický mód (First) {% endblock %}

{% block body_block %}
<h2>Panický mód s množinou First</h2>
<form id="parser_form" method="post">
{% csrf_token %}
<table class="t01" align="center">
<tr>
    <th>Program</th>
    <th>Zásobník</th>
    <th>Stav</th>
    <th>Syntaktická analýza</th>
    <th>Vstup</th>
    <th>Panický mód</th>
</tr>
{% if results %}
<tr>
    <td rowspan="{{ rows }}" class="source">
        <pre>{{ source_code }}</pre>
    </td>
{% for stack, state, parser_result, lex_input in results %}
    <td style="text-align:left;">
         {{ stack }}
    </td>
    <td style="text-align:center;">
         {{ state }}
    </td>
    <td style="text-align:left;">
        {% if 'success' in parser_result %}
            <strong style="color:green">{{ parser_result }}</strong>
        {% elif 'chyba' in parser_result %}
            <strong style="color:red">{{ parser_result }}</strong>
        {% else %}
            {{ parser_result }}
        {% endif %}
    </td>
    <td style="text-align:left;">
         {{ lex_input|safe }}
    </td>
    {% if "Read the first token" in parser_result %}
    <td rowspan="{{ rows }}" class="source">
        {% for p in panic_mode %}
            {{ p }}<br>
        {% endfor %}
    </td>
    {% endif %}
</tr>
{% endfor %}
{% endif %}
</table>

</form>
    <h3>Vysvětlivka:</h3>
    &emsp; Upravená metoda Panického módu.<br>
    &emsp; Nejdříve hledáme na vstupu symbol z množiny <strong>First()</strong> a vše do tohoto symbolu přeskočíme.<br>
    &emsp; Poté prohledáváme zásobník pro synchronizační neterminál, kterým chceme pokrýt následující symboly ze vstupu.<br>
    &emsp; Vše do tohoto neterminálu odstraníme. <br>
    &emsp; Poté opět prohledáváme vstup, abychom našli symbol z množiny <strong>Follow()</strong>, tedy zakončení řetězce, který pokryjeme
    synchronizačním neterminálem.<br>
    &emsp; Tento řetězec odstraníme.<br>
    &emsp; Nakonec aktualizujeme stav dle synchronizačního neterminálu.<br>
    &emsp; Následně pokračujeme v analýze podle <strong>action[novy stav, symbol na vstupu]</strong>.<br><br>

    &emsp; <strong>Množina synchronizačním neterminálů:</strong><br>
    &emsp; {&lt;expression&gt;, &lt;condition&gt;, &lt;statement&gt;, &lt;statement_list&gt;}<br><br>

    &emsp; <strong>First():</strong><br>
    &emsp; &lt;statement_list&gt;: {!, (, i, #}<br>
    &emsp; &lt;statement&gt;: {!, (, i, #}<br>
    &emsp; &lt;condition&gt;: {!, (, i, #}<br>
    &emsp; &lt;expression&gt;: {(, i, #}<br><br>

    &emsp; <strong>Follow():</strong><br>
    &emsp; &lt;statement_list&gt;: {$}<br>
	&emsp; &lt;statement&gt;: {$, ;, r, &, |}<br>
	&emsp; &lt;condition&gt;: {$, ;, r, &, |}<br>
	&emsp; &lt;expression&gt;: {$, ;, r, &, |, +, -, )}<br><br>
{% endblock %}
