{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: panic_mode_parser.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

@register.filter(name='zip')
def zip_lists(a, b):
  return zip(a, b)

{% block title %} Panický mód (Follow) {% endblock %}

{% block body_block %}
<h2>Panický mód s množinou Follow</h2>

<form id="parser_form" method="post">
{% csrf_token %}
<table class="t01" align="center">
<tr>
    <th>Program</th>
    <th>Zásobník</th>
    <th>Stav</th>
    <th>Syntaktická analýza</th>
    <th>Vstup</th>
    <th>Panický mód</th>
</tr>
{% if results %}
<tr>
    <td rowspan="{{ rows }}" style="text-align:left;vertical-align: text-top;font-size:16px;">
        <pre>{{ source_code }}</pre>
    </td>
{% for stack, state, parser_result, lex_input in results %}
    <td style="text-align:left;">
         {{ stack }}
    </td>
    <td style="text-align:center;">
         {{ state }}
    </td>
    <td style="text-align:left;">
        {% if 'success' in parser_result %}
            <strong style="color:green">{{ parser_result }}</strong>
        {% elif 'chyba' in parser_result %}
            <strong style="color:red">{{ parser_result }}</strong>
        {% else %}
            {{ parser_result }}
        {% endif %}
    </td>
    <td style="text-align:left;">
         {{ lex_input|safe }}
    </td>
    {% if "Read the first token:" in parser_result %}
    <td rowspan="{{ rows }}" style="text-align:left;vertical-align: text-top;font-size:16px;">
        {% for p in panic_mode %}
            {{ p }}<br>
        {% endfor %}
    </td>
    {% endif %}
</tr>
{% endfor %}
{% endif %}
</table>
</form>

    <h3>Vysvětlivka:</h3>
    &emsp; Principem <strong>Panického módu</strong> je nalezení co nejkratšího chybového řetězce, jeho přeskočení a pokračování v analýze.<br><br>
    &emsp; Nejdříve si definujeme množinu neterminálů, které označují logický celek programu:<br>
    &emsp; {&lt;expression&gt;, &lt;condition&gt;, &lt;statement&gt;, &lt;statement_list&gt;}<br><br>
    &emsp; Také si musíme určit jejich množinu <strong>Follow</strong>:<br>
    &emsp; &lt;statement_list&gt;: {$}<br>
	&emsp; &lt;statement&gt;: {$, ;, r, &, |}<br>
	&emsp; &lt;condition&gt;: {$, ;, r, &, |}<br>
	&emsp; &lt;expression&gt;: {$, ;, r, &, |, +, -, )}<br><br>

	&emsp; Při úpravě prohledáváme jak vstup, tak zásobník. Ten vyprazdňujeme dokud nezískáme z vrcholu neterminál z množiny.<br>
	&emsp; Určíme si náhradní neterminál, jehož Follow() použijeme při čtení vstupu, dokud nenalezneme shodu.<br>
	&emsp; Celý takto přečtený řetězec přeskočíme.<br>
	&emsp; Nahlédnutím do LR tabulky <strong>goto[stav na vrcholu zásobníku, náhradní neterminál]</strong> získáme nový stav.<br>
	&emsp; Vložíme na zásobník &lt;náhradní neterminál, nový stav&gt; a pokračujeme v analýze podle <strong>action[nový stav, symbol na vstupu]</strong>.<br><br>

{% endblock %}
