<!-- Bachelor Thesis GUI -->
<!-- panic_mode_parser.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->
{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}
<form id="parser_form" method="post" action="">
{% csrf_token %}
<table id="t01" align="center">
<th>Program</th>
<th>Lexikální analýza</th>
<th>Zásobník</th>
<th>Stav</th>
<th>Syntaktická analýza</th>
<th>Panický mód</th>
<tr>

<td name="fun_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if code %}
<pre>{{ code }}</pre>
{% else %}{ Zde napiste svuj kod }
{% endif %}
</td>

<td name="lex_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if lex_code %}
{% for lex in lex_code %}
{% if '[chyba' in lex %}
    <strong style="color:red">{{ lex }}</strong><br>
{% elif '[k' in lex %}
    <strong style="color:green">{{ lex }}</strong><br>
{% else %}
    {{ lex }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude výsledek Lexikální analýzy }
{% endif %}
</td>

<td name="stack_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if stack %}
{% for s in stack %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude zásobník }
{% endif %}
</td>

<td name="state_code_area" rows="10" cols="42" style="padding:10px; font-size:16px;vertical-align: text-top;">
{% if state %}
{% for s in state %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude stav }
{% endif %}
</td>

<td name="parser_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if parser_code %}
{% for parser in parser_code %}
{% if 'success' in parser %}
    <strong style="color:green">{{ parser }}</strong><br>
{% elif 'chyba' in parser %}
	<strong style="color:red">{{ parser }}</strong><br>
{% else %}
{{ parser }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude SA }
{% endif %}
</td>

<td name="panic_mode_code_area" rows="10" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if panic_mode %}
{% for p in panic_mode %}
{{ p }}<br>
{% endfor %}
{% else %}{ Zde bude panic mode }
{% endif %}
</td>
</tr>
</table>
</form>
<p>
    <strong>Vysvětlivka:</strong><br>
    Principem Panického módu je nalezení co nejkratšího chybového řetezce, jeho přeskočení a pokračování v analýze.<br><br>
    Nejdříve si definujeme množinu neterminálů, které označují logický celek programu:<br>
    {&lt;expression&gt;, &lt;condition&gt;, &lt;statement&gt;, &lt;statement_list&gt;}<br><br>
    Také si musíme určit jejich množiny follow:<br>
    &lt;statement_list&gt;: {$}<br>
	&lt;statement&gt;:{$, ;, r, &, |}<br>
	&lt;condition&gt;:{$, ;, r, &, |}<br>
	&lt;expression&gt;:{$, ;, r, &, |, +, -, )}<br><br>

	Při úpravě vstupu prohledáváme jak vstup, tak zásobník. Ten vyprazďnujeme dokud nezískáme z vrcholu neterminál z množiny.<br>
	Určíme si náhradní neterminál, jehož follow() použijeme při čtení vstupu, dokud nenalezneme shodu.<br>
	Celý takto přečtený řetězec přeskočíme.<br>
	Nahlednutím do LR tabulky goto[stav na vrcholu zásobníku, náhradní neterminál] získáme nový stav.<br>
	Vložíme na zásobník &lt;náhradní neterminál, nový stav&gt; a pokračujeme v analýze podle action[novy stav, symbol na vstupu].<br>
</p>
{% endblock %}
