{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: parser.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Syntaktická analýza {% endblock %}

{% block body_block %}
<h2>Syntaktická analýza</h2>

<form id="parser_form" method="post">
{% csrf_token %}
<table class="t01" align="center">
<tr>
    <th>Program</th>
    <th>Zásobník</th>
    <th>Stav</th>
    <th>Syntaktická analýza</th>
    <th>Vstup</th>
</tr>
{% if results %}
<tr>
    <td rowspan="{{ rows }}" style="text-align:left;vertical-align: text-top;font-size:16px;">
        <pre>{{ source_code }}</pre>
    </td>
{% for stack, state, parser_result, lex_input in results %}
    <td style="text-align:left;">
         {{ stack }}
    </td>
    <td style="text-align:center;">
         {{ state }}
    </td>
    <td style="text-align:left;">
        {% if 'success' in parser_result %}
            <strong style="color:green">{{ parser_result }}</strong>
        {% elif 'chyba' in parser_result %}
            <strong style="color:red">{{ parser_result }}</strong>
        {% else %}
            {{ parser_result }}
        {% endif %}
    </td>
    <td style="text-align:left;">
         {{ lex_input|safe }}
    </td>
</tr>
{% endfor %}
{% endif %}
</table>

<p style="text-align:center">
    {% if exit_code %}
    <input type="submit" name="parser" formaction="{% url 'panic_mode' %}" value="Panický mód (Follow)">&emsp;
    <input type="submit" name="parser" formaction="{% url 'panic_mode_first' %}" value="Panický mód (First)">&emsp;
    <input type="submit" name="parser" formaction="{% url 'ad_hoc' %}" value="Ad-hoc metoda">&emsp;
    <input type="submit" name="parser" formaction="{% url 'alan_method' %}" value="Alanova metoda">
    {% endif %}
</p>
</form>

    <h3>Vysvětlivka:</h3>
    &emsp; <strong>Inicializace:</strong><br>
    &emsp; Ke vstupnímu řetězci připojíme ukončující token <strong>[$]</strong>.
    Na zásobník vložíme <strong>&lt;$, 0&gt;</strong> a počáteční <strong>stav</strong> nastavíme na <strong>0</strong>.<br>

    &emsp; <strong>Opakujeme:</strong><br>
    &emsp; Přečteme aktuální token <strong>a</strong> na vstupu.<br>
    &emsp; Podíváme se do <a target="_blank" href="{% url 'lrtable' %}">LR tabulky</a> na část action:
    <strong>action[a, stav]</strong> a dle políčka provedeme následující:<br>

    <table style="text-align:left">
    <tr>
        <td>&emsp;&emsp; <strong>sp</strong></td>
        <td>&emsp; <i>Shift</i>: na zásobník vložíme <strong>&lt;a, p&gt;</strong>, přečteme
            další token ze vstupu a stav aktualizujeme na <strong>p</strong>.
        </td>
    </tr>
    <tr>
        <td><br>&emsp;&emsp; <strong>rq</strong><br></td>
        <td><br>&emsp; <i>Redukce</i>: pokud existuje pravidlo <strong>A &rarr; X</strong> a na vrcholu zásobníku nalezneme
            <strong>&lt;?, p&gt;&lt;X, ?&gt;</strong>, pak aktualizujeme stav dle tabulky <strong>goto[A, p]</strong>.<br>
            &emsp; Následně vyměníme <strong>&lt;X, ?&gt;</strong> za <strong>&lt;A, nový stav&gt;</strong>.
            Jinak překladač zahlásí <strong style="color:red">chybu</strong>.
        </td>
    </tr>
    <tr>
        <td><br>&emsp;&emsp; <strong style="color:green">Acc</strong></td>
        <td><br>&emsp; Syntaktická analýza proběhla úspěšně.</td>
    </tr>
    <tr>
        <td><br>&emsp;&emsp; <strong style="color:red">Nic</strong></td>
        <td><br>&emsp; Překladač objevil syntaktickou chybu.</td>
    </tr>
    </table>

    &emsp; <strong>Dokud neuspějeme s analýzou, nebo neobjevíme chybu.</strong>
    <br><br>

{% endblock %}
