<!-- Bachelor Thesis GUI -->
<!-- parser.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->
{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Projekt Alan {% endblock %}

{% block body_block %}
<form id="parser_form" method="post" action="">
{% csrf_token %}
<table id="t01" align="center">
<th>Program</th>
<th>Lexikální analýza</th>
<th>Zásobník</th>
<th>Stav</th>
<th>Syntaktická analýza</th>
<tr>

<td name="fun_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if code %}
<pre>{{ code }}</pre>
{% else %}{ Zde napiste svuj kod }
{% endif %}
</td>

<td name="lex_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if lex_code %}
{% for lex in lex_code %}
{% if '[chyba' in lex %}
    <strong style="color:red">{{ lex }}</strong><br>
{% elif '[k' in lex %}
    <strong style="color:green">{{ lex }}</strong><br>
{% else %}
    {{ lex }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude výsledek Lexikální analýzy }
{% endif %}
</td>

<td name="stack_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if stack %}
{% for s in stack %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude zásobník }
{% endif %}
</td>

<td name="state_code_area" rows="10" cols="42" style="padding:10px; font-size:16px;vertical-align: text-top;">
{% if state %}
{% for s in state %}
{{ s }}<br>
{% endfor %}
{% else %}{ Zde bude stav }
{% endif %}
</td>

<td name="parser_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if parser_code %}
{% for parser in parser_code %}
{% if 'success' in parser %}
    <strong style="color:green">{{ parser }}</strong><br>
{% else %}
{{ parser }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude SA }
{% endif %}
</td>
</tr>
</table>

<p style="text-align:center">
<input type="submit" name="parser" formaction="{% url 'parser' %}" value="Spustit syntaktickou analýzu">
</p>
</form>
{% endblock %}
