{% extends 'alan/base.html' %}
{% load staticfiles %}

<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: scanner.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% block title %} Lexikální analýza {% endblock %}

{% block body_block %}

<h2>Lexikální analýza</h2>

<form id="lex_form" method="post">
{% csrf_token %}
<table class="t01" align="center">
<tr>
    <th>Program</th>
    <th>Lexikální analýza</th>
</tr><tr>
    <td id="fun_code_area" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
        {% if source_code %}
        <pre>{{ source_code }}</pre>
        {% else %}{ Zde napiste svuj kod }
        {% endif %}
    </td>
    <td id="lex_code_area" style="padding:10px; font-size:16px;;text-align:left;vertical-align: text-top;">
        {% if tokens %}
        {% for token in tokens %}
            {% if '[chyba' in token %}
                <strong style="color:red">{{ token }}</strong><br>
            {% elif '[k' in token %}
                <strong style="color:green">{{ token }}</strong><br>
            {% else %}
                {{ token }}<br>
            {% endif %}
        {% endfor %}
        {% else %}{ Zde bude výsledek Lexikální analýzy }
        {% endif %}
    </td>
</tr>
</table>

<p style="text-align:center">
    {% if exit_code %}
    <input type="submit" name="back" formaction="{% url 'index' %}" method="get" value="Opravit vstupní program">
    {% else %}
    <input type="submit" name="parser" formaction="{% url 'parser' %}" value="Spustit syntaktickou analýzu">
    {% endif %}
</p>
</form>

    <h3>Vysvětlivka:</h3>
    &emsp;Lexikální analýza má za úkol zpracovávat vstupní program a rozdělit jej na <strong>lexémy</strong> (lexikální jednotky). <br>
    &emsp;Ty pak posílá syntaktické analýze na zpracování v podobě <strong>tokenů</strong> ve tvaru [lexém, další informace]. <br>
    &emsp;Další informací se rozumí například hodnota čísla, či jméno identifikátoru. <br>
    &emsp;Některé lexémy jsou zapisované pomocí zkratky:<br>
    &emsp;&emsp;<strong>i</strong> = identifikátor<br>
    &emsp;&emsp;<strong>r</strong> = relační operatory<br>
    &emsp;&emsp;<strong>#</strong> = integer (celé číslo)<br>
    &emsp;Pokud analýza nalezne ve vstupním programu lexém, který není součástí jazyka, označí celý vstup jako chybný. Na výstupu se pak objeví:<br>
    &emsp;&emsp;<strong style="color:red">[chyba, doplňující informace]</strong><br>
    &emsp; V této situaci již není možné pokračovat v syntaktické analýze a je potřeba vstup opravit.<br>

{% endblock %}
