<!-- Advanced Error Recovery during Bottom-Up Parsing -->
<!-- File: scanner.html -->
<!-- Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz -->

{% extends 'alan/base.html' %}
{% load staticfiles %}

{% block title %} Alan - home {% endblock %}

{% block body_block %}
<form id="lex_form" method="post" action="">
{% csrf_token %}
<table id="t01" align="center">
<th>Program</th>
<th>Lexikální analýza</th>
<tr>
<td name="fun_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;text-align:left;vertical-align: text-top;">
{% if source_code %}
<pre>{{ source_code }}</pre>
{% else %}{ Zde napiste svuj kod }
{% endif %}
</td>
<td name="lex_code_area" rows="18" cols="42" style="padding:10px; font-size:16px;;text-align:left;vertical-align: text-top;">
{% if tokens %}
{% for token in tokens %}
{% if '[chyba' in token %}
    <strong style="color:red">{{ token }}</strong><br>
{% elif '[k' in token %}
    <strong style="color:green">{{ token }}</strong><br>
{% else %}
    {{ token }}<br>
{% endif %}
{% endfor %}
{% else %}{ Zde bude výsledek Lexikální analýzy }
{% endif %}
</td>
</tr>
</table>


<p style="text-align:center">
{% if next %}
<input type="submit" name="parser" formaction="{% url 'parser' %}" value="Spustit syntaktickou analýzu">
{% endif %}
</p>
</form>

<p>
    <strong>Vysvětlivka:</strong><br>
    Červené tokeny označují lexikální chybu.<br>
    i = identifikátor<br>
    r = relační operatory<br>
    # = integer (celé číslo)<br>
    chyba = lexikální chyba
</p>
{% endblock %}
