/* CSS styles */
/* Bachelor Thesis GUI */
/* Author: Dominika Regeciova, xregec00@stud.fit.vutbr.cz */

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    height:auto;
}

#header {
    background-color:#215868;
    color:white;
    text-align:center;
    padding:5px;
    height:5px;
}

#navigation {
    background-color:#215868;
    clear:both;
    padding:5px;
    margin:0px;
    height:40px;
}

#footer {
    position:relative;
    clear:both;
    z-index:10;
    height:1em;
    margin-top:-2em;
    background-color:#215868;
    color:white;
    clear:both;
    text-align:left;
    padding:5px;
    font-size:12px;
    width:auto;
}

#section{
    float:center;
    padding:15px;
    padding-bottom:2em;
}

a {
  color:orange;
  font-weight: bold;
  text-decoration:none;
  padding:5px;

}

a:hover {
  color:green;

}

input[type=submit] {
    background-color:#61497A;
    color:white;
    min-width:134px; height: 31px;
    border:1px solid black;

}

/* Main menu */
ul#menu {
    padding: 0px;
    float:left;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color:#215868;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin:2px;
    text-transform:uppercase;

}

ul#menu li a:hover {
    background-color:#CDCDCD;
    color:black;
    padding:10px 10px;
}

/* Table - basic*/
.highlight {
    background-color:#9F5F9F;
}

table, th td {
    border: 1px solid black;
    border-collapse:collapse;
    text-align:center;
    padding:10px;
}

table th a {
    color:white;
}

th {
    background-color:#61497A;
    color:white;
    font-size:24px;
    padding:5px 10px;
}

tr {
   background-color:white;
}

table#t01, table#t01 td, table#t01 th {
    border: 1px solid black;
    border-collapse:collapse;
}

 table#t01 th {
    background-color:#61497A;
    color:white;
    font-size:14px;
    padding:5px 10px;
}

h2 {
    font-size:1.5em;
    font-weight:bold;
    text-align:left;
    margin-top:0em;
}

table#t02, table#t02 th, table#t02 td {
    border:0px;
    max-width:auto;
}
